@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: lemonchiffon;
}

header h5{
    font-size: 50px;
    color: coral;
    text-align: center;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0
}

.nypost logo {
    float: right;
    padding: 10px 0
}

.target {
    float: right;
    padding: 10px 0
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
}

nav a {
    color: coral;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: firebrick;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: yellow;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#myCarousel {
    margin-top: 0px;
    background-color: #222;
}

#slider .item {
    height: 400px;
}

#slide1 {
    background: center no-repeat;
    width: 100%;
    height: 600px;
}

#slider2 {
    background: center no-repeat;
    width: 100%;
    height: 600px;
}

#slider3 {
    background: center no-repeat;
    width: 100%;
    height: 600px;
}



h1 {
    color: whitesmoke;
    font-family: fantasy;
    font-size: 300%;
    text-align: center;
}

p {
    font-size: 140%;
    color: whitesmoke;
    font-family: fantasy;
    text-align: center;
}

.carousel-indicators {
    bottom: 75%;
}

.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.showcase-content {
    position: absolute;
    bottom: 50%;
    left: 2%;
    padding-right: 30px;
    z-index: 20;
    color: coral;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.showcase-content2 ul li a {
    font-size: 15px;
    color: whitesmoke;
    font-family: fantasy;
}
.showcase-content2 ul{
    display: table;
    margin: 0 auto;
    margin-bottom: 15px;
}

.showcase-content2 p4{
    font-size: 20px;
    color: whitesmoke;
    font-family: fantasy;
    margin-left: 580px;
}

.showcase-content3 p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.showcase-content3 ul li a {
    font-size: 20px;
    color: whitesmoke;
    font-family: fantasy;
}

.showcase-content4 ul{
    display: table;
    margin: 0 auto;
    margin-bottom: 15px;
}
.showcase-content4 ul li a {
    font-size: 15px;
    color: whitesmoke;
    font-family: fantasy;
    margin-bottom: 10px;
}

.showcase-content4 p3{
    font-size: 20px;
    color: whitesmoke;
    font-family: fantasy;
    margin-left: 300px;
    margin-top: 30px;
    text-align: center;
}
#wholepage {
    margin-right: auto;
    margin-left: auto;
}

#showcase {
    background: darkorange;
    height: 300px;
    text-align: center;
}

#showcase2 {
    background: tomato;
    height: 350px;
}

#showcase3 {
    background: firebrick;
    height: 350px;
}

#showcase4{
    background: indianRed;
    height: 400px;
}

#showcase p {

    color: whitesmoke;
}

#showcase h1 {
    color: whitesmoke;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#showcase2 h1 {
    color: whitesmoke;
    font-size: 50px;
    padding-top: 30px;
}

#showcase3 h1 {
    color: whitesmoke;
    font-size: 50px;
    padding-top: 30px;
}

#showcase4 h1{
    color: whitesmoke;
    font-size: 50px;
    padding-top: 30px;
    margin-bottom: 20px;
}

#showcase4 ul li{
    margin-bottom: 10px;
}

#showcase4 p{
    color: whitesmoke;
    margin-bottom: 20px;
}

.footer-main-div {
    width: 100%;
    height: auto;
    margin: auto;
    background: #222;
    padding: 20px 0px;
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: firebrick;
}

.footer-social-icons ul li a {
    color: 272727;
    font-size: 25px;
}

.footer-social-icons ul li a i {
    line-height: 50px;
}

.footer-bottom {
    width: 100%;
    height: auto;
    margin: auto;
    padding: 15px;

}

.footer-bottom p {
    font-family: fantasy;
    font-size: 16px;
    text-align: center color: firebrick;
    font-weight: 600;
}

.footer-bottom p a {
    color: firebrick;
}
